/* -------------------------------------------- */
/* ----------------- Zen Old Mincho ----------- */
/* -------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&family=Zen+Kaku+Gothic+Antique:wght@500&family=Zen+Old+Mincho&display=swap');


// regular
@mixin zen-old-mincho-r{
    font-family: 'Zen Old Mincho', serif;
    font-weight: 400;
}


/* -------------------------------------------- */
/* ---------------Cormorant Garamond----------- */
/* -------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=M+PLUS+1:wght@100..900&family=Zen+Kaku+Gothic+Antique:wght@500&family=Zen+Old+Mincho&display=swap');

// regular
@mixin Cormorant-Garamond-r {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
}
